h1{
    background-color: rgba(197, 178, 92, 0.76);
    padding: 1rem;
    margin:3rem;
}
p{
    font-size: 20px;
    background-color: rgba(197, 178, 92, 0.76);
    padding: 1rem;
}
img{
    width: 30%;
    margin:auto;
}
figure{
    margin-left: 3rem;
}
nav{
    text-align: center;
    font-size: 200%;
}
h2{
    font-size: 200%;
}
ul{
    font-size: 150%;
    padding-left: 6rem;
}
figcaption{
    font-size: 150%;
}
body{
    font-family: "Kavivanar", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #e0c791b7;
}
table{
    font-size: 150%;
    margin-left:3rem;
}
h1, article, h2{
    padding-right: 20rem;
    padding-left: 3rem;
}
ol{
    margin-left:3rem;
    font-size: 120%;
}
iframe{
    margin-left:3rem;
    size: 8%;
}
code{
    font-size:110%;
}