h1{
    background-color: rgba(173, 94, 107, 0.699);
    padding: 1%;
    margin:3%;
    border-radius: 5em;
}
p{
    font-size: 130%;
    background-color: rgba(197, 178, 92, 0.76);
    padding: 2%;
    border-radius: 2em;
}
img{
    width: 30%;
    margin:auto;
}
figure{
    margin-left: 3%;
}
img{
    width: 45%;
}
nav{
    text-align: center;
    font-size: 200%;
    background-color: rgba(177, 159, 81, 0.76);
}
h2{
    font-size: 200%;
}
h3{
    font-size:150%;
}
ul{
    font-size: 150%;
    padding-left: 6%;
}
figcaption{
    font-size: 150%;
}
body{
    font-family: "Kavivanar", cursive;
    font-weight: 400;
    font-style: normal;
    background-color:#ceba4c86;
    margin-left: 2%;
    margin-right: 2%;
}
table{
    font-size: 150%;
    margin-left:3%;
    margin-right:3%;
    border-style:solid;
    border-color:#4d260d;
    
}
th, td{
    border-style:solid;
    border-color:#4d260d;
}
td{
    background-color: rgba(76, 219, 219, 0.61);
}
th{
    background-color: rgba(47, 170, 170, 0.808);
}
h1, article, h2, h3{
    padding-right: 3%;
    padding-left: 3%;
}
ol{
    margin-left:3%;
    font-size: 120%;
}
iframe{
    margin-left:3%;
    width:60%;
}
code{
    font-size:130%;
    width:50%;
}
video{
    max-width: 80%;
}